.pagination {
    margin: 0;
    display: flex !important;
    justify-content: space-between;
    width: 50%;
}

.pagination > li {
    list-style: none;
}

.pagination > .active {
    font-weight: 700 !important;
}

.previous > a,
.next > a {
    border: 2px solid #865cd6;
    background-color: #865cd6;
    color: white !important;
    border-radius: 4px;
    padding: 5px;
    font-weight: 500 !important;
}

#loading-spinner {
    margin-left: 1em;
}