body {
    margin: 0;
    padding: 10px;
    font-family: sans-serif;
}

.experience-description {
    margin: 0.1em 0px 0.5em !important;
}

#app-title {
    margin-right: 1em;
}

#home-link:hover {
    text-decoration: none;
}